.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10%;
  background: var(--background);
  min-height: calc(100vh - 93px);
}
.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  text-align: left;
}
.main_text {
  width: 100%;
  color: var(--text-primary);
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.descr_text {
  width: 100%;
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  margin: 10px 0;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}
.text_wrapper {
  margin: 3% 0;
}
.logotype {
  width: 10rem;
}
.date {
  margin-top: 20px;
  color: var(--text-primary);
}