.button {
    display: inline-flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 0.9375rem;
    background: var(--button-primary);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    border: none;
    font-size: 0.999rem;
    font-style: normal;
    font-weight: 450;
    font-family: Montserrat;
    cursor: pointer;
  }