.main_text {
  width: 100%;
  text-align: left;
  font-size: 20px;
  margin-top: 0;
  font-weight: 500;
}
.wrapper_rentCard {
  max-width: 100%;
  margin-bottom: 5%;
  border-radius: 15px;
  height: 100px;
  font-weight: 600;
  background: #ffffff;
  flex-wrap: wrap;
  display: flex;
  padding: 0 5%;
}
.wrapper_rentCard .secondRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--black, #192342);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.7;
}
.submit {
  display: flex;
  height: 50px;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #8a8aa4;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
  border: none;
}
.rent_location {
  width: 100%;
}
.wrapper_zero_data {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  font-weight: 600;
  background: #ffffff;
  padding: 0 5%;
  margin: 5% 0;
  border-radius: 15px;
  height: 100px;
  text-align: center;
}
