.card_today {
  display: inline-flex;
  padding-left: 5%;
  align-items: center;
  gap: 1.25rem;
  border-radius: 0.9375rem;
  text-decoration: none;
  color: var(--text-primary);
  background: var(--background-secondary);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 5%;
  width: 95%;
  white-space: nowrap;
}
.text_today {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 130%;
}
.last_icon {
  width: 25px;
  height: 25px;
}
.title {
  color: var(--text-primary);
  font-family: Montserrat;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: none;
  border-bottom: 1px solid var(--text-primary);
}
.history {
  color: var(--text-primary);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  margin: 10% 0 5% 0;
}
.wrapper_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.wrapper_rent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper_rentCard {
  width: 90%;
  margin-bottom: 5%;
  border-radius: 15px;
  border: none;
  font-weight: 600;
  background: var(--background-secondary);
  color: var(--text-primary);
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 10px;
}
.wrapper_rentCard .secondRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--text-primary);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.7;
}
.rent_location {
  width: 100%;
  text-align: left;
  font-family: Montserrat;
  font-size: 16px;
  margin: 0;
}
.image_block {
  display: flex;
  gap: 15px;
}