
.card_today {
  display: inline-flex;
  padding-left: 0.625rem;
  align-items: center;
  gap: 1.25rem;
  border-radius: 0.9375rem;
  text-decoration: none;
  color: #0000;
  background: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 5%;
  width: 100%;
  white-space: nowrap;
}
.text_today {
  color: #192342;
  font-weight: 500;
  font-size: 130%;
}
.title {
  color: var(--black, #192342);
  font-family: Montserrat;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: none;
  border-bottom: 1px solid var(--black, #192342);
}
.history {
  color: var(--black, #192342);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  margin: 10% 0 5% 0;
}
.wrapper_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.wrapper_rent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper_rentCard {
  width: 100%;
  border-radius: 1.25rem;
  font-weight: 600;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.wrapper_rentCard .secondRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--black, #192342);
  font-family: Montserrat;
  font-size: 0.925rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.7;
}

.wrapper_rentCard .secondRow p {
  margin: 0; /* Удалит стандартные отступы у <p> */
}
.wrapper_rentCard {
  align-items: flex-start;
}
.wrapper_rentCard .secondRow p {
  line-height: 1.2;
}
.noAds {
  margin: 0 auto;
  padding: 5% 0 5% 0;
}
