.video_button {
  /*color: var(--text-primary);*/
  color: #0000EE;
  background-color: transparent;
  font-family: Montserrat;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: none;
  border: none;
  border-bottom: 1px solid #0000EE;
  padding: 0;
  cursor: pointer;
}