.not_active_toggle, .active_toggle {
  cursor: pointer;
	border-radius: 17px;
	position: relative;
	width: 44px;
	height: 24px;
	transition: all .3s ease-in-out;
}
.not_active_toggle {
  background: #E2E5EA;
}
.active_toggle {
  background: #8A8AA4;
}
.active_round, .not_active_round {
  background: #FFFFFF;
  border-radius: 17px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  transition: all .3s ease-in-out;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}
.active_round {
  left: 2px;
}
.not_active_round {
  left: 22px;
}