.wrapper {
  width: 98%;
  height: 50px;
  border-radius: 1.5625rem;
  background: var(--background-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10%;
  padding: 0 1%;
}
.active_btn {
  width: 49%;
  height: 42px;
  border-radius: 25px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 17px;
  background: var(--background-select);
  border: none;
  transition: all .1s ease-in-out;
  padding: 0;
  cursor: pointer;
}
.not_active_btn {
  background-color: transparent;
  width: 49%;
  border-radius: 25px;
  color: var(--text-primary);
  height: 42px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 17px;
  border: none;
  padding: 0;
  cursor: pointer;
}