.about_service {
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  text-align: left;
  margin: 0;
}
.text {
  text-align: left;
  width: 100%;
}
.instruction_descr {
  color: #8a8aa4;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #8a8aa4;
}
