.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.text_main {
  color: var(--black, #192342);
  text-align: center;
  font-size: 1.45675rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}
.text_descr {
  color: var(--black, #192342);
  font-size: 1.45675rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.password_input {
  height: 30px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
  color: #192342;
  font-size: 16px;
  font-weight: 500;
  padding: 0 15px;
}
.password_input::placeholder {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.password_input:focus {
  outline: none;
}
.text_block {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.link {
  text-decoration-line: none;
  color: #168acd;
  border-bottom: 1px solid #168acd;
}
