.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.box_container,
.toggle_container,
.electro_wrapper,
.sizes_wrapper,
.price_counter_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin: 0;
  width: 100%;
  margin-bottom: 10%;
}
label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #192342;
}
.toggleWrapper {
  transform: scale(0.8);
}
.main_text {
  font-weight: 500;
}
.title {
  font-size: 18px;
  font-weight: 400;
}
.incrementWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  border-radius: 0.9375rem;
  background: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
}
.price {
  font-size: 20px;
}
.incrementWithBorderMinus {
  border-right: 1px solid #c0c0c0;
}
.incrementWithBorderPlus {
  border-left: 1px solid #c0c0c0;
}
.incrementWithBorderMinus, .incrementWithBorderPlus {
  width: 15%;
  height: 3.5rem;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}
.submit {
  display: flex;
  padding: 0.875rem 3.5rem 0.875rem 3.4375rem;
  width: 100%;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  border-radius: 0.9375rem;
  background: #8a8aa4;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  border: none;
  white-space: nowrap;
  margin-top: 20%;
  font-family: Montserrat;
  font-size: 20px;
}
.parent_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.size_main_text {
  color: var(--black, #192342);
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
