@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #F1F3F9;
  --text-primary: #192342;
  --background-secondary: #FFFFFF;
  --button-primary: #8A8AA4;
  --select-arrow: url("/src/assets/drop-icon.svg");
}

[data-theme="dark"] {
  --background: linear-gradient(312deg, #47494E 7.62%, #121212 91.89%);
  --text-primary: #FFFFFF;
  --background-secondary: #434343;
  --button-primary: #000000;
  --select-arrow: url("/src/assets/drop-icon-white.svg");
}

body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  scroll-behavior: smooth;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
}

html {
  scroll-behavior: smooth;
}
.container {
  overflow-x: hidden;
}